.section-title {
  color: $bright-black;
  text-align: center;
  font-family: Gilroy-Light;
  @include text-properties(300, normal);
  font-size: clamp(55px, 17.1vw, 212px);
  letter-spacing: 8.48px;
  text-transform: uppercase;
  }
