@font-face {
  font-family: Gilroy-Bold;
  src: url(/src/fonts/Gilroy-Bold.ttf) format("ttf");
}

@font-face {
  font-family: Gilroy-ExtraBold;
  src: url(/src/fonts/Gilroy-ExtraBold.ttf) format("ttf");
}

@font-face {
  font-family: Gilroy-Light;
  src: url(/src/fonts/Gilroy-Light.ttf) format("ttf");
}

@font-face {
  font-family: Gilroy-Medium;
  src: url(/src/fonts/Gilroy-Medium.ttf) format("ttf");
}

@font-face {
  font-family: Gilroy-Regular;
  src: url(/src/fonts/Gilroy-Regular.ttf) format("ttf");
}

@font-face {
  font-family: gilroy-semibold;
  src: url(/src/fonts/Gilroy-SemiBold.ttf) format("ttf");
}
