@mixin text-properties($font-weight, $font-height) {
  font-weight: $font-weight;
  line-height: $font-height;
}

@mixin padding($padding-top, $padding-right, $padding-botttom, $padding-left) {
  padding-top: $padding-top;
  padding-right: $padding-right;
  padding-bottom: $padding-botttom;
  padding-left: $padding-left;
}
