.about-me {
  @include padding(70px, 0, 70px, 0);
  align-items: center;
  display: grid;
  grid-template-columns: 81% 19%;
  // flex-wrap: wrap;
  // @media screen and (max-width: 1200px) {
  //   flex-direction: column;
  //   align-items: flex-start;
  // }
}

.about-me__motto {
  color: $bright-black;
  font-family: Gilroy;
  @include text-properties(62px, 300, normal);
  @include padding(0, 70px, 0, 70px);
  max-width: 1295px;
  word-wrap: break-word;
  text-align: center;
 

  @media screen and (max-width: 768px) {
    font-size: 52px;
    max-height: 248px;
    padding: 0px;
  }
  @media screen and (max-width: 475px) {
    font-size: 30px;
    max-height: 179px;
  }
  @media screen and (max-width: 400px) {
    font-size: 24px;
    max-height: 179px;
  }
}
.about-me__motto--bold {
  color: $bright-black;
  font-family: Gilroy;
  @include text-properties(62px, 800, normal);
  max-width: 80%;
  word-wrap: break-word;
  @media screen and (max-width: 768px) {
    font-size: 52px;
    max-width: 930px;
    height: 248px;
  }
  @media screen and (max-width: 475px) {
    font-size: 30px;
    max-height: 179px;
  }
  @media screen and (max-width: 400px) {
    font-size: 24px;
    max-height: 179px;
  }
}
.about-me__content {
  box-sizing: border-box;
  display: flex;
  @include padding(60px, 140px, 60px, 0);
  gap: 30px;
  flex-direction: column;
  align-items: flex-end;
width: 485px;
  @media screen and (max-width: 768px) {
    width: 100%;
  }
}

.about-me__container{
  background: $bright-black;
  width: 100vw;
}
.about-me__text {
  color: $white;
display: flex;
  text-align: right;
  font-family: Gilroy-Medium;
  @include text-properties(32px, 400, 32px);
  text-transform: uppercase;
}
.about-me__icons {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  gap: 20px;
  align-self: stretch;
}
