.contact {
  display: flex;
  @include padding(50px, 0, 100px, 0);
  border-top: 1px solid $bright-black;
}

.contact__container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr;
  gap: 40px;
}

.contact__title {
  color: $grey;
  font-family: Gilroy;
  @include text-properties(155px, 300, normal);
  text-transform: uppercase;
}

.contact__text-div {
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.contact__subtitle {
  color: $bright-black;
  font-family: Gilroy-Bold;
  @include text-properties(64px, 400, normal);
  text-transform: uppercase;
}

.contact__text {
  color: $bright-black;
  font-family: Gilroy-Medium;
  @include text-properties(34px, 400, normal);
}

.contact__button {
  display: flex;
  gap: 10px;
  align-items: center;
  padding: 10px 30px;
  border-radius: 50px;
  width: fit-content;
  background: $bright-black;
}

.contact__button-text {
  color: $white;
  font-family: Gilroy-Medium;
  @include text-properties(18px, 400, normal);
  text-transform: capitalize;
  text-align: start;
}
