.logos {
  width: 100%;
  border-bottom: 1px solid $bright-black;
}
.logos__items {
  display: flex;
  // flex-wrap: wrap;
  @include padding(70px, 70px, 70px, 70px);
  justify-content: center;
  align-items: center;
  gap: 40px;
  @media screen and (max-width: 768px) {
    padding-top: 40px;
    padding-bottom: 40px;
    gap: 20px;
  }
}
.logos__item {
  display: flex;
  @include padding(15px, 40px, 15px, 40px);
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
  border-radius: 50px;
  background: $white;
}
