.logos {
  width: 100%;
  border-bottom: 1px solid $bright-black;
  border-top: 1px solid $bright-black;
}
.logos__items {
  display: flex;
  flex-wrap: wrap;
  @include padding(70px, 0, 70px, 0);
  justify-content: center;
  align-items: center;
  gap: 40px;
  @media screen and (max-width: 1330px) {
    @include padding(40px, 0, 40px, 0);
    gap: 20px;
  }
  @media screen and (max-width: 550px) {
    @include padding(30px, 0, 30px, 0);
    gap: 20px;
  }
}
.logos__item {
  display: flex;
  @include padding(15px, 40px, 15px, 40px);
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
  border-radius: 50px;
  background: $white;
}
