.my-clients{
  border-bottom: 1px solid $bright-black;
  border-top: 1px solid $bright-black;
  @include padding(50px, 0, 50px, 0);
}

.my-clients-container {
  display: flex;
  flex-direction: column;
  gap: 50px;
  @include padding(50px, 0, 50px, 0);
}

.my-clients__title-div {
  @include padding(0, 70px, 0, 70px);
}

.my-clients__main-title {
  color: $bright-black;
  font-family: Gilroy-Regular;
  @include text-properties(212px, 300, normal);
  letter-spacing: 8.48px;
  text-transform: uppercase;
  text-align: center;
}

.my-clients__content {
  //   padding-left: 70px;
  //   padding-right: 70px;
  height: 1214px;
}

.my-clients__list {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(2, 1fr);
  // column-gap: 38px;
}

.my-clients__element {
  @include padding(30px, 30px, 30px, 30px);
  height: 507px;
  // width: 507px;
}

.my-clients__element:nth-child(1),
.my-clients__element:nth-child(2),
.my-clients__element:nth-child(4),
.my-clients__element:nth-child(5) {
  border-right: 1px solid black;
}

.my-clients__element:nth-child(1),
.my-clients__element:nth-child(2),
.my-clients__element:nth-child(3) {
  border-bottom: 1px solid black;
}

.my-clients__element-content {
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.my-clients__element-logo-1 {
  width: 180px;
  height: 35px;
}

.my-clients__element-logo-2 {
  width: 84px;
  height: 40px;
}

.my-clients__element-logo-3 {
  width: 175px;
  height: 35px;
}

.my-clients__element-logo-4 {
  width: 152px;
  height: 34px;
}

.my-clients__element-logo-6 {
  width: 180px;
  height: 35px;
}

.my-clients__element-logo-7 {
  width: 145px;
  height: 35px;
}

.my-clients__title {
  color: #333;
  font-family: Gilroy;
  @include text-properties(30px, 800, normal);
  width: 500px;
}

.my-clients__text {
  color: $black;
  font-family: Inter;
  @include text-properties(20px, 400, 30px);
}

.my-clients__person-content {
  display: flex;
  gap: 20px;
  align-items: center;
}

.my-clients__person-img {
  width: 70px;
  height: 70px;
  border-radius: 50px;
}

.my-clients__person-info {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.my-clients__person-name {
  color: $black;
  font-family: Inter;
  @include text-properties(20px, 600, 20px);
}

.my-clients__person-job {
  color: $black;
  font-family: Inter;
  @include text-properties(20px, 400, 20px);
}
