.my-clients {
  border-bottom: 1px solid $bright-black;
  border-top: 1px solid $bright-black;
  @include padding(50px, 0, 50px, 0);

  @media screen and (max-width: 1199px) {
    padding-top: 30px;
    padding-bottom: 30px;
  }
  @media screen and (max-width: 767px) {
    padding-bottom: 0;
  }
}

.my-clients__container {
  display: flex;
  flex-direction: column;
  gap: 50px;

  @media screen and (max-width: 1199px) {
    gap: 30px;
  }
}


.my-clients__content {
  @include padding(0, 0, 80px, 0);

  @media screen and (max-width: 1199px) {
    padding: 0;
    //???
  }
}

.my-clients__list {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(2, 1fr);

  @media screen and (max-width: 1199px) {
    grid-template-columns: 1fr;
    grid-template-rows: repeat(6, 1fr);
    //??
  }
}

.my-clients__element {
  @include padding(30px, 30px, 30px, 30px);
display: flex;

  @media screen and (max-width: 1199px) {
    padding-top: 40px;
    padding-bottom: 40px;
    height: fit-content;
    border-bottom: 1px solid $black;
  }
}

.my-clients__element:nth-child(1),
.my-clients__element:nth-child(2),
.my-clients__element:nth-child(4),
.my-clients__element:nth-child(5) {
  border-right: 1px solid $black;

  @media screen and (max-width: 1199px) {
    border-right: none;
  }
}

.my-clients__element:nth-child(1),
.my-clients__element:nth-child(2),
.my-clients__element:nth-child(3) {
  border-bottom: 1px solid $black;

  @media screen and (max-width: 1199px) {
    border-right: none;
  }
}

.my-clients__element:nth-child(1),
.my-clients__element:nth-child(4) {
  @include padding(30px, 50px, 30px, 30px);

  @media screen and (max-width: 1199px) {
    @include padding(40px, 0, 40px, 0);
  }
}

.my-clients__element:nth-child(2),
.my-clients__element:nth-child(5) {
  @include padding(30px, 50px, 30px, 50px);

  @media screen and (max-width: 1199px) {
    @include padding(40px, 0, 40px, 0);
  }
}

.my-clients__element:nth-child(3),
.my-clients__element:nth-child(6) {
  @include padding(30px, 30px, 30px, 50px);

  @media screen and (max-width: 1199px) {
    @include padding(40px, 0, 40px, 0);
  }
}

.my-clients__element:nth-child(6) {
  border: none;
}

.my-clients__element-content {
  display: flex;
  flex-direction: column;
  gap: 30px;
  justify-content: space-between;
}

.my-clients__element-logo {
  &--first {
    width: 150px;
    height: 35px;
  }

  &--second {
    width: 84px;
    height: 35px;
  }

  &--third {
    width: 175px;
    height: 35px;
  }

  &--forth {
    width: 152px;
    height: 35px;
  }

  &--sixth {
    width: 180px;
    height: 35px;
  }

  &--seventh {
    width: 150px;
    height: 35px;
  }
}

.my-clients__title {
  color: #333;
  font-family: Gilroy-ExtraBold;
  @include text-properties(800, 44px);
  font-size: 40px;
  width: 100%;
  @media screen and (max-width: 1199px) {
    width: 100%;
  }
}

.my-clients__text {
  color: $black;
  font-family: Inter;
  @include text-properties(400, 30px);
  font-size: 20px;
}

.my-clients__person-content {
  display: flex;
  gap: 20px;
  align-items: center;
}

.my-clients__person-img {
  width: 70px;
  height: 70px;
  border-radius: 50px;
}

.my-clients__person-info {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.my-clients__person-name {
  color: $black;
  font-family: Inter;
  @include text-properties(600, 20px);
  font-size: 20px;
}

.my-clients__person-job {
  color: $black;
  font-family: Inter;
  @include text-properties(400, 20px);
  font-size: 20px;
}
